<h1 align="center">Корзина</h1>
<%= @orders.input %>
<div>
	<table class="table table-striped">
		<thead>
	<tr>
		<th>Наименование</th>		
		<th>Цена</th>		
		<th>Количество</th>		
	</tr>	
		</thead>
	</table>
</div>
